data/cen-x-3-nustar-prepared-event-files-obsid-30101055002/Cen_X3_30101055002.tgz filter=lfs diff=lfs merge=lfs -text
data/cen-x-3-nustar-prepared-event-files-obsid-30101055002/backgroundA.evt filter=lfs diff=lfs merge=lfs -text
data/cen-x-3-nustar-prepared-event-files-obsid-30101055002/sourceA.evt filter=lfs diff=lfs merge=lfs -text
data/cen-x-3-nustar-prepared-event-files-obsid-30101055002/FPMA_7.0_30.0_cl_barycorr.evt filter=lfs diff=lfs merge=lfs -text
data/cen-x-3-nustar-prepared-event-files-obsid-30101055002/FPMA_sr.rmf filter=lfs diff=lfs merge=lfs -text
